<!DOCTYPE html>
<html>
<head>
 <title>Prince Benson Waimai</title>
 <p>Prince Benson Fusion Restaurant</p></head>
<body>
 <!-- Site Header -->
 <h1>Tasty Treats To Your Door</h1>

<!-- Blog Post -->
 <h2>Benson's Ham</h2>
 <p>This is the food of most orders. Made by the best meat for ham by  our handsome chief Benson.
 </p>
 <p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525416429691&di=524bd27e8ddfa6043e0eddbbce169f97&imgtype=0&src=http%3A%2F%2Fwww.style-tips.com%2Fuploads%2Fpost%2F10304%2F1430708468_fm.jpg"></p>

 <h3>Benson's snail</h3>
 <p>Imported snails from Frence, cooked with the best wine for 81 minutes.</p>
<p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525416991081&di=a424889f5c0c2f8df7ba8a4d8dc43808&imgtype=0&src=http%3A%2F%2Fimg.ccyp.com%2Fevent%2F201608%2F20160802140338236.jpg"></p>
<h4>Benson's goose liver</h4>
<p>Nothing much to say, just wonderful!!!</p>
<p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525417487426&di=ae7412117197a3ca10c6ad2936a2cbb5&imgtype=0&src=http%3A%2F%2Fs16.sinaimg.cn%2Fmw690%2F004iyUxmgy6KSuEEVQj8f%26690"></p>
<!-- Like And Comment -->

<h5>Leave your order</h5>
 <form>
 <textarea placeholder="Please Enter Your order"></textarea>
 <input type="submit" value="Post Me!">
 </form>
</body>
</html>
<p><img src=""></p>